:root {
    --black: #1A1A1A;
    --lilac: #9995DE;
    --white: #fff;
    --lilac-dark: #47446BCC;
    --lilac-dark-without-opacity: #3e3b5b;
    --grey: #BCBCBC;
    --lilac-with-opacity: #CABCF84D;
    /* --lilac-with-opacity: #cabcf87a; */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    background: #9590E9;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: .2s ease-in-out all;
}

.btn svg {
    transform: translateY(-2px);
}

.btn path {
    transition: .2s ease-in-out all;
}

.autorization {
    color: var(--lilac);
    background: var(--white);
}

.web {
    color: var(--lilac);
    background: var(--lilac-with-opacity);
    border: 1px solid var(--lilac);
}

a {
    transition: .2s ease-in-out all;
}

h1,
.h1 {
    font-weight: 400;
    font-family: 'Numans', sans-serif;
    font-size: clamp(32px, 5vw, 60px);
    line-height: 110%;
    margin: 0;
    font-family: 'Numans', sans-serif;
}

h1 span,
.h1 span {
    color: var(--lilac);
}

h2,
.h2 {
    font-weight: 400;
    font-family: 'Numans', sans-serif;
    font-size: clamp(24px, 5vw, 42px);
    line-height: 110%;
    margin: 0;
}

h3,
.h3 {
    font-weight: 400;
    font-family: 'Numans', sans-serif;
    font-size: clamp(18px, 5vw, 24px);
    line-height: 110%;
    margin: 0;
    font-family: 'Numans', sans-serif;
}

body {
    background-color: var(--black);
}

body::after {
    z-index: -1;
    position: fixed;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: url(../img/body.png) center top / contain no-repeat;
}

body.trading-page::after {
    background: url(../img/trading-body-bg.png) center 0 / contain no-repeat;
}

div,
p {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: clamp(16px, 3vw, 18px);
    line-height: 130%;
    color: var(--white);
}

.mch-widget div,
.mch-widget p {
    color: inherit;
    font-size: inherit;
}

.container {
    /* max-width: 1220px; */
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* overflow: hidden; */
}

header {
    z-index: 100;
    position: relative;
    padding-top: 10px;
    transition: .2s ease-in-out all;
}

.header__box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: var(--lilac-dark);
    border-radius: 10px;
    gap: 110px;
    width: 100%;
}

header.fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
}

header.fixed .header__box {
    background: var(--lilac-dark-without-opacity);
    box-shadow: 0px 10px 25px 20px rgba(26, 26, 26, 0.23);
}

header.fixed .sub-menu .menu-item {
    background: var(--lilac-dark-without-opacity);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.header__logo img {
    width: 100%;
}

.for-mobile {
    display: none;
}

header .menu {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

header .menu-item {
    position: relative;
}

header .menu-item a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--white);
}

header .sub-menu {
    display: none;
    position: absolute;
    left: -10px;
    padding-top: 30px;
    list-style: none;
    border-radius: 0px 0px 5px 5px;
}

header .sub-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
}

header .sub-menu .menu-item {
    background: var(--lilac-dark-without-opacity);
}

header .sub-menu .menu-item a {
    padding: 10px;
    white-space: nowrap;
}

.burger {
    background: none;
    border: none;
}

.start__box {
    padding: 50px 25px;
    background: var(--lilac-dark);

    border-radius: 10px;
}

.start__top {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
}

.start__list {
    display: flex;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.start__item:not(:last-child) {
    padding-right: 50px;
}

.start__item p {
    max-width: 320px;
}

.start__item:nth-child(3) p {
    max-width: 310px;
}

.start h3 {
    padding-top: 55px;
    position: relative;
    margin-bottom: 10px;
    color: var(--lilac);
}

.start h3::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50px;
    background: linear-gradient(92.06deg, #827DDD 1.08%, #AFAAFB 105.22%);
}

.start__item:not(:last-child) h3::before {
    content: '';
    position: absolute;
    top: 9px;
    display: block;
    width: calc(100% + 55px);
    height: 1px;
    background: linear-gradient(92.06deg, #827DDD 1.08%, #AFAAFB 105.22%);
}

.analyst__top {
    display: flex;
    gap: 70px;
    align-items: center;
}

.analyst__top p {
    max-width: 415px;
}

.analyst__buttons {
    display: flex;
    gap: 0;
    width: 100%;
    border: 1px solid var(--lilac);
    border-radius: 10px;
    background: var(--lilac-with-opacity);
}

.analyst__buttons button {
    width: 100%;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: clamp(18px, 3vw, 24px);
    line-height: 100%;
    color: var(--lilac);
    background: transparent;
    cursor: pointer;
    border: none;
    transition: .2s ease-in-out all;
}

.analyst__buttons button.active {
    background: var(--lilac);
    color: var(--white);
    border-radius: 10px;
}

.analyst__widgets {
    margin-top: -10px;
}

.analyst__widget {
    display: none;
}

.analyst__widget.active {
    display: block;
}

.values__img {
    margin-bottom: 20px;
}

.values__author {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.values__image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.values__post {
    font-family: 'Numans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    color: var(--grey);
}

/* .banner .container */
.banner__content {
    position: relative;
    background: #A19DF5;
    border-radius: 10px;
}

.banner__content {
    z-index: 1;
    width: 100%;
    position: relative;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.banner-2 .banner__content {
    /* max-width: 700px; */
    margin: auto;
}

.banner__content::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/banner-left.svg) left center / contain no-repeat;
}

.banner__content::after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/banner-right.svg) right center / contain no-repeat;
}

.banner-2 .banner__content:before {
    background: url(../img/banner-2-left.svg) left center / contain no-repeat;
}

.banner-2 .banner__content:after {
    background: url(../img/banner-2-right.svg) right center / contain no-repeat;
}

.banner h2 {
    max-width: 690px;
}

.banner-2 h2 {
    max-width: 560px;
}

.banner-2 p {
    max-width: 535px;
}

.banner .btn {
    margin-top: 10px;
    padding: 15px 100px;
}

.swiper-bg {
    background: url('../img/swiper-bg.png') center / contain no-repeat;
}

.swiper-slide {
    height: auto;
}

.error .container {
    padding-top: 190px;
    padding-bottom: 70px;
    gap: 15px;
    align-items: center;
}

.error h1 {
    font-size: clamp(48px, 7vw, 90px);
}

.error .btn {
    margin-top: 10px;
}

.about-hero__box {
    display: flex;
    gap: 120px;
    align-items: center;
}

.about-hero img {
    max-height: 410px;
    box-shadow: 0px 0px 100px 70px rgba(25, 25, 25, 1);
}

.about-hero__content h1 {
    margin-bottom: 25px;
}

.grid__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    list-style: none;
}

.grid__item {
    padding: 50px 25px;
    background: var(--lilac-dark);
    border-radius: 10px;
    transition: .2s ease-in-out all;
}

.grid__year {
    margin-bottom: 10px;
    font-size: clamp(32px, 5vw, 50px);
    font-weight: 400;
    color: var(--lilac);
    font-family: 'Numans', sans-serif;
}

.service .container {
    flex-direction: row;
    gap: 190px;
}

.service__content h2 {
    margin-bottom: 50px;
}

.service__content p {
    margin-bottom: 25px;
}

.service img {
    max-width: 100%;
    border-radius: 10px;
}

.fixed-header header {
    position: fixed;
    width: 100%;
}

.contacts {
    background: url(../img/contacts-bg.png) center / cover no-repeat;
}

.contacts .container {
    padding-top: 150px;
    padding-bottom: 65px;
    gap: 0;
}

.contacts p {
    max-width: 660px;
}

.information .container {
    display: grid;
    grid-template-columns: 390px 1fr;
}

.information__map {
    filter: grayscale(1) brightness(1);
}

.information__map iframe {
    height: 100%;
    border-radius: 10px;
}

.information__content,
.information__content a,
.information__content address {
    display: block;
    margin-bottom: 15px;
    color: var(--white);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
    line-height: 120%;
    font-family: 'Inter', sans-serif;
}

.information__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

form {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}

label {
    width: 100%;
    display: grid;
    gap: 10px;
}

label[for='checkbox'] {
    display: block;
}

label[for='checkbox'] a {
    display: inline-block;
    text-decoration: underline;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
    padding: 10px 20px;
    height: 55px;
    border-radius: 3px;
    background: #333;
    border: none;
    color: var(--white);
}

textarea {
    padding: 10px 20px;
    height: 90px;
    border-radius: 3px;
    background: #333;
    border: none;
    resize: none;
    color: var(--white);
}

.terms {
    background: url(../img/trading-bg.png) center / cover no-repeat;
}

.terms .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.trading__content {
    display: grid;
    gap: 30px;
    grid-template-columns: 380px 1fr;
}

.tariffs__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.tariffs__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 45px 20px;
    border-radius: 10px;
    background: #47446BCC;
    transition: .2s ease-in-out all;
}

.tariffs__box h3 {
    margin-bottom: 15px;
    color: var(--lilac);
    transition: .2s ease-in-out all;
}

.tariffs__discription {
    margin-bottom: 30px;
    color: var(--grey);
    transition: .2s ease-in-out all;
}

.tariffs__list {
    display: grid;
    list-style: none;
}

.tariffs__box .btn {
    display: block;
    text-align: center;
}

.platform-hero {
    background: url(../img/platform-bg.png) center / cover no-repeat;
}

.platform-hero .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

body.platform-page::after {
    background: url(../img/platform-body-bg.png) center 0 / contain no-repeat;
}

.platform-page .discription__box h3 {
    margin-top: 25px;
}

.hero {
    margin-top: 120px;
}

.hero h1 {
    margin-bottom: 25px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.hero__right {
    max-width: 365px;
    display: grid;
    gap: 50px;
}

.hero .container {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.hero__box {
    display: grid;
    gap: 10px;
}

.hero__title {
    font-family: 'Numans', sans-serif;
    color: var(--lilac);
    font-size: clamp(18px, 4vw, 24px);
}

.values__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 30px; */
    gap: 25px;
}

.swiper-button-next,
.swiper-button-prev {
    position: initial;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: var(--lilac-dark);
    margin: 0;
}

.values__buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.swiper {
    width: 100%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
    width: 30px;
    height: 30px;
    background: url(../img/arrow-left.svg) center / contain no-repeat;
    transition: .2s ease-in-out all
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
    width: 30px;
    height: 30px;
    background: url(../img/arrow-right.svg) center / contain no-repeat;
    transition: .2s ease-in-out all
}

.values__title {
    font-size: 24px;
    font-family: 'Numans', sans-serif;
    margin-bottom: 10px;
    color: var(--lilac);
}

.values__item {
    padding: 50px 25px;
    background: var(--lilac-dark);
    border-radius: 10px;
    transition: .2s ease-in-out all;
}

.swiper-wrapper {
    align-items: stretch;
}

.platform__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.platform__top p {
    max-width: 420px;
}

.platform__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.platform__box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.platform__list {
    display: grid;
    gap: 20px;
    list-style: none;
}

.platform__item,
.tariffs__item,
.terminal__item,
.grid__item li,
.discription__box li {
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.discription__box li p {
    margin-bottom: 0;
}

.platform__item::before,
.tariffs__item::before,
.terminal__item::before,
.grid__item li::before,
.discription__box li::before {
    position: relative;
    top: 7px;
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    background: var(--lilac);
    transition: .2s ease-in-out all;
    flex: 0 0 auto;
}

.platform__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: -20px;
}

.platform__buttons .btn {
    padding: 15px 50px;
    font-weight: 600;
}

footer .container {
    padding-bottom: 70px;
}

.footer__logo img {
    max-width: 290px;
    width: 100%;
    margin-bottom: 15px;
}

.footer__logo p {
    max-width: 270px;
    font-size: clamp(10px, 3vw, 14px);
    line-height: 115%;
}

.footer__box {
    display: flex;
    gap: 100px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.footer__nav {
    display: flex;
    gap: 75px;
}

.footer__nav a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
}

.footer__nav .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
}

.footer__nav .menu .menu-item:first-child a {
    font-size: 18px;
    color: var(--lilac);
    cursor: initial;
    text-decoration: none;
}

footer .menu {
    list-style: none;
}

.footer__info * {
    font-size: 16px;
    /* color: #747474; */
    color: #9d9b9b;
    text-decoration: none;
}

.footer__list {
    display: flex;
    gap: 65px;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.footer__copyright {
    margin-top: 15px;
}

li.menu-item,
li.grid__item,
li.footer__item,
li.news__item {
    margin-bottom: 0;
}

.terminal .container {
    display: grid;
    gap: 30px;
    grid-template-columns: 390px 1fr;
}

.terminal__content {
    padding: 50px 25px;
    border-radius: 10px;
    background: #47446BCC;
}

.terminal__content h3 {
    margin-bottom: 15px;
    color: var(--lilac);
}

.terminal__content p {
    margin-bottom: 25px;
}

.terminal__tabs {
    display: grid;
    gap: 10px;
}

.terminal__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    border: 1px solid var(--lilac);
    background: var(--lilac-with-opacity);
}

.terminal__buttons button {
    width: 100%;
    padding: 20px 40px;
    border: none;
    color: var(--lilac);
    cursor: pointer;
    background: transparent;
    font-size: clamp(18px, 4vw, 24px);
}

.terminal__buttons button:first-child {
    border-right: 1px solid var(--lilac);
}

.terminal__buttons button:last-child {
    border-left: 1px solid var(--lilac);
}

.terminal__buttons button.active {
    color: var(--white);
    background: var(--lilac);
    border-radius: 10px;
    border: none;
}

.terminal__buttons button:nth-child(2).active {
    border-radius: 0;
}

.terminal__box {
    display: none;
    gap: 10px;
    border-radius: 10px;
    background: #47446BCC;
}

.terminal__box.active {
    display: grid;
}

.terminal__box .btn {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.terminal__info {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 410px;
    padding: 25px;
}

.terminal__info p {
    margin-bottom: 10px;
}

.terminal__box--1 {
    background: url('../img/web-terminal.png') #47446BCC right bottom / contain no-repeat;
}

.terminal__box--2 {
    background: url('../img/desktop-trader.png') #47446BCC right bottom / contain no-repeat;
}

.terminal__box--3 {
    background: url('../img/mobile-version.png') #47446BCC right bottom / contain no-repeat;
}

.faq {
    background: url(../img/faq-bg.png) center / cover no-repeat;
}

.faq .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

h1 {
    margin-bottom: 15px;
}

.error h1 {
    margin-bottom: 0;
}

.details .container {
    gap: 20px;
}

details {
    position: relative;
    width: 100%;
    background: #47446BCC;
    border-radius: 6px;
}

summary {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 35px 20px;
    list-style-type: none;
    cursor: pointer;
    transition: .2s ease-in-out all;
    border-radius: 6px;
    font-size: clamp(18px, 3vw, 24px);
    font-family: 'Numans', sans-serif;
}

summary::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/arrow-details.svg') center / contain no-repeat;
    transition: .2s ease-in-out all;
    flex: 0 0 auto;
}

details[open] summary::before {
    background: url('../img/close.svg') center / contain no-repeat;
}

summary::-webkit-details-marker {
    display: none;
}

details>p,
details>div {
    padding: 0 20px 35px;
}

details>div>p:not(:last-child) {
    margin-bottom: 15px;
}

details::before {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 100%;
    background: var(--white);
    border-radius: 6px 0 0 6px;
    transition: .2s ease-in-out all;
}

details[open]::before {
    background: var(--lilac);
}

.overview {
    background: url(../img/overview-bg.png) center / cover no-repeat;
}

.overview .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.overview p {
    max-width: 765px;
}

.widgets .container {
    display: grid;
    grid-template-columns: 390px 420px;
    gap: 240px;
}

.mch-widget-wej.mch-widget-notifier .widget-wrapper .notifier-widget-body,
.mch-widget-wd.mch-widget.mch-widget-leaders .widget-body {
    height: 445px;
}

.widgets__item h2 {
    margin-bottom: 15px;
}

.widgets__item p {
    margin-bottom: 50px;
}

.forecasts {
    background: url(../img/forecasts-bg.png) center / cover no-repeat;
}

.forecasts .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.forecasts p {
    max-width: 765px;
}

.discription h2 {
    max-width: 800px;
}

.discription__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.discription__box p {
    margin-bottom: 10px;
}

.news-hero {
    background: url(../img/news-bg.png) center / cover no-repeat;
}

.news-hero .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.news-hero p {
    max-width: 590px;
}

.news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 30px;
}

.news__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 25px;
    border-radius: 10px;
    background: var(--lilac-dark);
    transition: .2s ease-in-out all;
}

.news__item img {
    width: calc(100% + 50px);
    height: 150px;
    margin: -25px -25px 25px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.news__item a {
    text-decoration: none;
}

.news__item h3 {
    margin-bottom: 10px;
    color: var(--lilac);
    transition: .2s ease-in-out all;
}

.news__date {
    font-size: 16px;
    color: var(--grey);
    font-weight: 400;
    line-height: 110%;
}

.news__pagination {
    display: flex;
    gap: 10px;
}

.news__pagination li {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Inter';
    background: var(--lilac-dark);
    color: var(--white);
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out all;
    margin-bottom: 0;
}

.news__pagination li.active {
    background: var(--lilac);
}

.training-hero {
    background: url(../img/training-bg.png) center / cover no-repeat;
}

.training-hero .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.training-hero p {
    max-width: 740px;
}

.grid__item h3 {
    margin-bottom: 10px;
    color: var(--lilac);
}

.training__top {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.training__top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.training__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.training__content p:not(:last-child) {
    margin-bottom: 10px;
}

.advantages .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.advantages h2 {
    margin-bottom: 50px;
}

.advantages p:not(:last-child) {
    margin-bottom: 10px;
}

.advantages__content {
    grid-column: 1/3;
}

.advantages__img {
    grid-row: 1/3;
    grid-column: 3/4;
}

.advantages__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.analysis-hero {
    background: url(../img/analysis-bg.png) center / cover no-repeat;
}

.analysis-hero .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.analysis-hero p {
    max-width: 740px;
}

.technical-analysis .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.technical-analysis h2 {
    margin-bottom: 50px;
}

.technical-analysis h3 {
    margin-bottom: 15px;
    color: var(--lilac);
}

.technical-analysis p:not(:last-child) {
    margin-bottom: 50px;
}

.technical-analysis img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.the-use ul {
    margin-top: 25px;
}

.graphic-shapes__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

li span {
    font-weight: 600;
}

.discription__box h3 {
    color: var(--lilac);
}

.details h2 {
    margin-bottom: 30px;
}

.fundamental-analysis {
    background: url(../img/fundamental-analysis-bg.png) center / cover no-repeat;
}

.fundamental-analysis .container {
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 0;
}

.cookies {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    display: none;
    gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);
}

.cookies p {
    font-size: 16px;
}

.cookies a {
    color: var(--white);
}

.cookies .btn {
    margin-top: 5px;
    padding: 10px 30px;
    font-size: 14px;
}

.platform__img {
    object-fit: contain;
}

.swiper-pagination {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--lilac) var(--black);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--lilac);
    border-radius: 5px;
    border: 3px solid var(--black);
}

.mobile {
    display: none;
}







@media (min-width: 1050px) {

    header .menu-item:hover .sub-menu,
    header .sub-menu:hover {
        z-index: 1;
        display: block;
    }

    .btn:hover {
        background: #726EC6;
        color: var(--white);
    }

    .btn:hover path {
        fill: var(--white);
    }

    .autorization:hover {
        background: #726EC6;
        color: var(--white);
    }

    .web:hover {
        color: var(--white);
        background: var(--lilac);
    }

    header .sub-menu .menu-item a:hover {
        background: var(--lilac);
        color: var(--white);
    }

    .grid__item:hover {
        background: #5E5C81;
    }

    .tariffs__box:hover {
        background: #5E5C81;
    }

    .tariffs__box:hover h3 {
        color: var(--white);
    }

    .tariffs__box:hover .tariffs__discription {
        color: #E3E3E3;
    }

    .tariffs__box:hover .tariffs__item::before {
        background: var(--white);
    }

    .tariffs__box:hover .btn:hover {
        color: var(--white);
        background: #726EC6;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background: #5E5C81;
    }

    .swiper-button-prev:hover:after,
    .swiper-rtl .swiper-button-next:hover:after {
        background: url(../img/arrow-left-white.svg) center / contain no-repeat;
    }

    .swiper-button-next:hover:after,
    .swiper-rtl .swiper-button-prev:hover:after {
        background: url(../img/arrow-right-white.svg) center / contain no-repeat;
    }

    .values__item:hover {
        background: #5E5C81;
    }

    .footer__nav a:hover {
        text-decoration: underline;
        color: var(--white);
    }

    a:hover,
    header .menu-item a:hover,
    footer .menu_item a:hover {
        color: var(--lilac);
    }

    .footer__item a:hover {
        color: #9d9b9b;
        text-decoration: underline;
    }

    summary:hover {
        background: #5E5C81CC;
    }

    .news__item:hover {
        background: #5E5C81;
    }

    .news__item:hover h3 {
        color: var(--white);
    }

    .news__pagination li:hover {
        color: var(--lilac);
    }

    .news__pagination li.active:hover {
        color: var(--white);
    }
}

@media (max-width: 1300px) {
    .terminal .container {
        grid-template-columns: 1fr;
    }

    .terminal__tabs {
        gap: 20px;
    }

    .terminal__buttons {
        min-width: fit-content;
    }

    .terminal__buttons button {
        padding: 15px 45px;
        white-space: nowrap;
    }

    .widgets .container {
        gap: 150px;
    }
}

@media (max-width: 1050px) {
    .technical-analysis img {
        max-height: 400px;
    }

    .widgets__item {
        text-align: center;
    }

    .header__logo {
        max-width: 140px;
    }

    .information .container {
        grid-template-columns: 1fr 2fr;
    }

    .about-hero .container {
        padding-top: 50px;
    }

    .about-hero__content {
        width: 100%;
    }

    .about-hero__box {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-hero__box img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .service img {
        max-height: 350px;
        object-fit: cover;
    }

    .about-hero__content {
        position: relative;
        z-index: 1;
    }

    .service__content h2 {
        margin-bottom: 30px;
    }

    .service .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .graphic-shapes__box {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .grid__list {
        gap: 15px;
    }

    .technical-analysis .container {
        display: flex;
        flex-direction: column;
    }

    .technical-analysis h2 {
        margin-bottom: 30px;
    }

    .technical-analysis p:not(:last-child) {
        margin-bottom: 30px;
    }

    .advantages .container {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }

    .advantages__content {
        grid-row: auto;
        grid-column: auto;
    }

    .advantages__img {
        grid-row: 1;
        grid-column: 2;
    }

    .news__item img {
        width: calc(100% + 20px);
        margin: -20px -10px 20px;
    }

    .news__item {
        min-height: auto;
        gap: 25px;
        padding: 20px 10px;
    }

    .widgets .container {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .mch-widget {
        margin: auto;
    }

    .footer__box {
        margin-top: 80px;
    }

    summary {
        padding: 20px 10px;
        gap: 10px;
    }

    details>p,
    details>div {
        padding: 0 10px 20px 20px;
    }

    .overflow {
        margin-left: -30px;
        padding-left: 30px;
        margin-right: -30px;
        padding-right: 30px;
        overflow: auto;
    }

    .tariffs .container {
        overflow: hidden;
    }

    main .container {
        gap: 30px;
    }

    .swiper {
        padding-bottom: 50px;
    }

    .swiper-pagination {
        display: block;
    }

    .values .swiper-pagination {
        display: none;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: var(--white);
    }

    .swiper-pagination-bullet-active {
        background: var(--lilac);
    }

    .trading__content {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .trading-page .values__top {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .banner__content::before {
        background: url(../img/banner-left-tablet.svg) left center / contain no-repeat;
    }

    .banner__content::after {
        background: url(../img/banner-right-tablet.svg) right center / contain no-repeat;
    }

    .banner-2 .banner__content::before {
        background-size: 17%;
        background-position: left top;
    }

    .banner-2 .banner__content::after {
        background-size: 17%;
        background-position: right bottom;
    }

    .banner p {
        max-width: 380px;
    }

    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: flex;
    }

    .header__nav.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 30px;
        width: calc((100% - 60px));
        height: calc(100vh - 95px);
        background: var(--lilac-dark-without-opacity);
        border-radius: 10px;
        padding: 20px;
        justify-content: start;
        align-items: start;
        overflow-y: auto;
    }

    .header__nav.show .menu {
        width: 100%;
        flex-direction: column;
    }

    .header__nav.show .menu-item {
        width: 100%;
        text-align: center;
    }

    .header__nav.show .sub-menu {
        padding: 0;
        border: none;
        background: var(--lilac-dark);
        border-radius: 5px;
        margin-top: 10px;
    }

    header .sub-menu.show {
        position: initial;
        display: flex;
        flex-direction: column;
    }

    header .sub-menu .menu-item {
        background: #252335;
    }

    header .menu {
        gap: 0;
    }

    header .menu-item a {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    header .menu-item a::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/arrow-details.svg);
        transform: rotate(90deg);
        transition: .2s ease-in-out all;
    }

    header .menu-item.active>a {
        color: var(--lilac);
    }

    header .menu-item.active a::after {
        background: url(../img/close.svg);
    }

    header .sub-menu .menu-item a {
        padding: 20px;
    }

    header .sub-menu .menu-item a::after {
        display: none;
    }

    .hero .container {
        flex-direction: column;
        gap: 60px;
    }

    .hero__left {
        gap: 60px;
    }

    .hero__main {
        max-width: 520px;
    }

    .values__top {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .main .values__top {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .values__buttons {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .platform__top {
        gap: 15px;
        flex-direction: column;
        align-items: start;
    }

    .platform__list {
        gap: 5px;
    }

    .platform__box {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .platform__buttons {
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }

    .start__item p {
        max-width: 100%;
    }

    .start__item:nth-child(3) p {
        max-width: 100%;
    }

    .start__top {
        flex-direction: column;
        gap: 25px;
        align-items: start;
    }

    .start__list {
        margin-top: 50px;
        grid-template-columns: 1fr;
    }

    .start h3 {
        padding-top: 0;
        padding-left: 40px;
    }

    .start h3::after {
        left: 0;
    }

    .start__item p {
        padding-left: 40px;
    }

    .start__item:not(:last-child) h3::before {
        display: none;
    }

    .start__item:not(:last-child) {
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .start__item:not(:last-child)::before {
        position: absolute;
        left: 10px;
        top: 15px;
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: linear-gradient(92.06deg, #827DDD 1.08%, #AFAAFB 105.22%);
    }

    main {
        gap: 100px;
    }

    .analyst__top {
        gap: 15px;
        flex-direction: column;
        align-items: start;
    }

    .analyst__top p {
        max-width: 100%;
    }

    .hero {
        margin-top: 80px;
    }

    .footer__box {
        flex-direction: column;
        gap: 30px;
    }

    .footer__logo p {
        max-width: 315px;
    }

    .footer__nav {
        gap: 50px;
    }

    .footer__list {
        gap: 35px;
    }
}

@media (max-width: 768px) {
    .information__map {
        height: 240px;
    }

    .ymaps3x0--main-engine-container canvas {
        height: 100%;
    }

    .information .container {
        display: flex;
        flex-direction: column;
    }

    .training__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }

    .training--reverse .training__top {
        flex-direction: column-reverse;
    }

    .advantages__content {
        margin-bottom: 15px;
    }

    .advantages__img img {
        max-height: 400px;
    }

    .advantages .container {
        display: flex;
        flex-direction: column;
    }

    .advantages h2 {
        margin-bottom: 15px;
    }

    .advantages .grid__item:not(:first-child) {
        margin-top: -15px;
    }

    .discription__box {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .terminal__box--1 {
        background-image: none;
    }

    .terminal__box--2 {
        background-image: none;
    }

    .terminal__box--3 {
        background-image: none;
    }

    .terminal__info {
        max-width: 100%;
    }

    .analyst__buttons {
        white-space: nowrap;
    }

    .news__list {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .swiper {
        /* width: calc(100% + 90px); */
        width: 115%;
    }

    .swiper-pagination {
        width: 85% !important;
    }

    .values {
        overflow: hidden;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__list {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .analyst__buttons {
        min-width: 420px;
    }

    .analyst__buttons button {
        min-width: 210px;
    }
}

@media (max-width: 700px) {
    .platform__box {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .platform__img {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .banner__content {
        padding: 60px 10px;
    }

    .banner p {
        font-size: 16px;
    }

    .banner .btn {
        width: 100%;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .mobile {
        display: block;
    }

    .main .values__top {
        display: flex;
        flex-direction: column;
    }

    form {
        margin-top: 30px;
        align-items: center;
    }

    label[for='checkbox'] a {
        margin-bottom: 0;
    }

    form .btn {
        display: block;
        width: 100%;
    }

    .news__pagination li {
        width: 30px;
        height: 30px;
    }

    .widgets__item {
        text-align: left;
    }

    .terminal__info {
        height: 460px;
    }

    .values .grid__list {
        gap: 15px;
    }

    .values .swiper-pagination {
        display: block;
    }

    .header__nav.show {
        top: 60px;
        height: calc(100vh - 60px);
    }

    .terms .container,
    .platform-hero .container,
    .faq .container,
    .overview .container,
    .news-hero .container,
    .forecasts .container,
    .training-hero .container,
    .analysis-hero .container,
    .fundamental-analysis .container,
    .contacts .container {
        padding: 115px 15px 50px;
    }

    .error .container {
        padding: 50px 15px 50px;
        text-align: center;
        background: #232232;
    }

    .hero__right {
        gap: 30px;
    }

    .hero img {
        margin: auto;
    }

    .hero__main {
        display: grid;
    }

    .btn {
        display: block;
        text-align: center;
    }

    .hero h1 {
        text-align: center;
    }

    main {
        gap: 80px;
    }

    .values__img {
        max-width: 35px;
    }

    .tariffs__box {
        padding: 30px 10px;
    }

    .grid__item {
        padding: 30px 10px;
    }

    .start__box {
        padding: 30px 10px;
    }

    .values__item {
        padding: 30px 10px;
    }

    .tariffs__box {
        padding: 30px 10px;
    }

    .footer__logo img {
        max-width: 175px;
    }

    .footer__logo p {
        max-width: 195px;
        max-width: 70%;
    }

    .banner__content::before {
        background: url(../img/banner-left-mobile.svg) left center / contain no-repeat;
    }

    .banner__content::after {
        background: url(../img/banner-right-mobile.svg) right center / contain no-repeat;
    }

    .analyst__widgets {
        margin-top: 15px;
    }

    .values__buttons {
        display: none;
    }

    .values__top {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .platform__content {
        gap: 30px;
    }

    .overflow {
        margin-left: -15px;
        padding-left: 15px;
        margin-right: -15px;
        padding-right: 15px;
        overflow: auto;
    }

    header {
        padding-top: 0;
    }

    header .container {
        padding: 0;
    }

    .hero {
        margin-top: 65px;
    }

    .platform__buttons {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer__nav {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .swiper {
        width: 100%;
    }

    .swiper-pagination {
        width: 100% !important;
    }

    .values {
        overflow: initial;
    }

    .header__box {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .header__nav.show .menu {
        width: 100%;
    }

    .header__nav.show .sub-menu {
        border-radius: initial;
    }

    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .cookies .btn {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .header__nav.show {
        width: 100%;
        left: 0;
        border-radius: 0;
    }
}

@media (max-width: 360px) {
    .widget-box {
        margin-left: -15px;
        margin-right: -15px;
    }
}